@model DPO.Model.Light.OrderViewModelLight

@{
    var PlaceholderText = ResourceUI.Search;
    ViewBag.Title = @ResourceUI.Orders;
    var user = ViewData["CurrentUser"] as UserSessionModel;
}

@section Page_Styles {
    @*@Styles.Render("~/Content/css/978", "~/Content/css/tablestyles", "~/Content/css/ulstyles", "~/Content/css/tabbars", "~/Content/css/adminstyles", "~/Content/themes/base/css")*@
    @*@Styles.Render("~/Content/css/978", "~/Content/css/tablestyles", "~/Content/css/ulstyles", "~/Content/css/tabbars", "~/Content/css/adminstyles", "~/Content/themes/base/css",
                                        "~/Content/bootstrap.css", "~/Content/kendo-bootstrap-daikin.css")*@

    @Styles.Render("~/Content/css/978", "~/Content/css/tablestyles", "~/Content/css/tabbars", "~/Content/css/adminstyles",
        "~/Content/css/bootstrap")
}


@section scripts{

    @Scripts.Render("~/bundles/scripts/tablehelpers", "~/bundles/scripts/confirmmodal", "~/bundles/jqueryui")
}

@Html.Partial("ConfirmModal")
@Html.Partial("_ProjectTabsPartial")

<div class="section b-flush" ng-controller="ordersController">
    <header>
        <h4>Orders Submitted</h4>
    </header>

    @*<div class="visible-lg text-success">Large Devices!</div>
    <div class="visible-md text-warning">Medium Devices!</div>
    <div class="visible-sm text-danger">Small Devices</div>
    <div class="visible-xs text-danger">Extra Small</div>*@

    <div class="row">
        <div class="col col-xs-6 col-sm-4 col-md-2 col-lg-2">

            <table class="search-bar">
                <tr>
                    <td>
                        <div>
                            <input type="text" id="orderSearchBox" name="orderSearchFilter" placeholder="@PlaceholderText" />
                            <button type="button" class="clear-search-btn" style="display:none;">X</button>
                        </div>
                    </td>

                    <td>
                        <button class="search-btn" id="OrderSearchBtn" style="padding-top:4px;"><img src="~/Images/search-btn-icon.png" height="18" /></button>
                    </td>

                </tr>
            </table>

        </div>
        <div class="col col-xs-6 col-sm-8 col-md-10 col-lg-10">
            @*<button type="button" ng-click="ExportExcelDetailed()" class="btn btn-default pull-right"><span class="k-icon k-i-excel"></span> Export Details</button>
            <button type="button" ng-click="ExportExcel()" class="btn btn-default pull-right"><span class="k-icon k-i-excel"></span> Export</button>*@
            <button type="button" ng-click="ExportExcelOptions()" class="btn btn-default pull-right"><span class="k-icon k-i-excel"></span> @ResourceUI.ExportToExcel</button>
        </div>
    </div>




    @*<input type="search" id="orderSearchBox" name="orderSearchFilter" class="form-control" placeholder="@PlaceholderText" />
        <button id="OrderSearchBtn"><i class="fa fa-search" aria-hidden="true"></i> Search</button>*@
    @*<span class="k-font-icon k-i-search"></span>*@

    <form class="form-inline" role="form" style="background-color: #E5F2FA;padding:10px;">
        <div class="form-group" style="padding-right:10px;">
            <label for="userAutoComplete">User </label>
            <input id="userAutoComplete" class="form-control" style="width: 200px" />
        </div>
        <div class="form-group" style="padding-right:10px;">
            <label for="orderStatusDDL">Order Status </label>
            <input id="orderStatusDDL" class="form-control" style="width: 150px" />
        </div>
        <div class="form-group">
            <label for="businessAutoComplete">Business Name </label>
            <input id="businessAutoComplete" class="form-control" style="width: 250px" />
        </div>
    </form>

    @*<div class="row top-buffer">


            <ul class="ul-selects">
                    <li>
                        <label>User</label>
                        <input id="userAutoComplete" style="width: 200px" />
                    </li>

                    <li>
                        <label>Order Status</label>
                        <input id="orderStatusDDL" style="width: 150px" />
                    </li>

                    <li>
                        <label>Business Name</label>
                        <input id="businessAutoComplete" style="width: 250px" />
                    </li>

                    <li ng-show="false">
                        <label>Pricing Strategy</label>
                        <input id="pricingTypeDDL" style="width: 150px" />
                    </li>
                </ul>
        </div>*@



    <div style="clear: both; height: 10px;"></div>

    <div kendo-grid="orderGrid" k-options="gridOptions" id="orders-grid">
        <div k-detail-template>
            <kendo-tabstrip>
                <ul>
                    <li class="k-state-active">Products</li>
                </ul>
                <div>
                    <div kendo-grid="orderGridDetails" k-options="detailGridOptions(dataItem)"></div>
                </div>
            </kendo-tabstrip>
        </div>
    </div>

    <div kendo-window="ExcelExportWindow" k-title="'Export To Excel'"
         k-visible="false" k-modal="true" k-width="400"
         k-content="{ url: '/app/components/order/orders/excelExportOptions.html' }"></div>

    @*<script type="text/x-kendo-template" id="filtertemplate">
            <div >
                <label>User</label>
                <input id="userAutoComplete" style="width: 200px"/>
            </div>
            <div >
                <label >Order Status</label>
                <input id="orderStatusDDL" style="width: 150px" />
            </div>
        </script>*@
    
    <div class="box wide" style="display:none">
        <a href="#" class="k-button" id="save">Save Settings</a>
        <a href="#" class="k-button" id="load">Load Settings</a>
    </div>

</div>

<style>
    /*.k-state-active {
        background-color: rgb(229, 242, 250) !important;

    }*/

    #headerBtns img {
        vertical-align:auto;
    }
</style>

<script>

    $(document).ready(function () {
        kendo.ui.progress($("#orders-grid"), true);

        var grid;
        var dataSource;

        var counter = 0;

        var interval = setInterval(function () {
            counter++;
            if (counter == 4) {
                clearInterval(interval);
                grid = $("#orders-grid").data("kendoGrid");
                dataSource = grid.dataSource;
            }
        }, 1000);

        $("#save").click(function (e) {
            e.preventDefault();
            //localStorage["kendo-grid-options"] = kendo.stringify(grid.getOptions());
            //console.log(localStorage["kendo-grid-options"]);
            var gridState = {
                columns: grid.columns,
                page: dataSource.page(),
                pageSize: dataSource.pageSize(),
                sort: dataSource.sort(),
                filter: dataSource.filter(),
                group: dataSource.group()
            };

            console.log(gridState);

            $.ajax({
                url: "/Project/SaveGridState",
                data: {
                    data: JSON.stringify(gridState)
                }
            });
        });

        $("#load").click(function (e) {
            e.preventDefault();
            var options = localStorage["kendo-grid-options"];
            if (options) {
                grid.setOptions(JSON.parse(options));
            }
        });

        
    });
   
    
</script>