
@model ProductModel
@{
    var specs = Model.Specifications;
}

@if (specs.GetString("ProductClassPIM") == "Air Handler")
{
    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        <span class="pull-left">Power Supply (V/Hz/Ph):</span>
        <span class="pull-right">@specs.GetString("PowerVoltage") / @specs.GetDecimal("PowerFrequency", "N0") / @specs.GetString("PowerPhase")</span>
    </div>
    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        @{
            var airFlowLabels = new List<string>
            {
                "HH","High","Med","Low","SL"
            };

            var airFlowHigh = "";

            if (specs.GetString("AirFlowRateHighText") != null)
            {
                airFlowHigh = specs.GetString("AirFlowRateHighText");
            }
            else if (specs.GetString("AirFlowRateHighCooling") != null)
            {
                airFlowHigh = specs.GetString("AirFlowRateHighCooling");
            }
            else if (specs.GetDecimal("AirFlowRateHighHeating", "N0") != null)
            {
                airFlowHigh = specs.GetDecimal("AirFlowRateHighHeating", "N0");
            }

            var airFlowRates = new List<string>{
                specs.GetDecimal("AirFlowRateSuperHighCooling", "N0") != null? specs.GetDecimal("AirFlowRateSuperHighCooling", "N0"): specs.GetDecimal("AirFlowRateSuperHighHeating", "N0"),
                airFlowHigh,
                specs.GetDecimal("AirFlowRateMediumCooling", "N0") != null? specs.GetDecimal("AirFlowRateMediumCooling", "N0"): specs.GetDecimal("AirFlowRateMediumHeating", "N0"),
                specs.GetDecimal("AirFlowRateLowCooling", "N0") != null? specs.GetDecimal("AirFlowRateLowCooling", "N0"): specs.GetDecimal("AirFlowRateLowHeating", "N0"),
                specs.GetDecimal("AirFlowRateSuperLowCooling", "N0") != null? specs.GetDecimal("AirFlowRateSuperLowCooling", "N0"): specs.GetDecimal("AirFlowRateSuperLowHeating", "N0")
            };

            var airFlowLabelsCombined = new List<string>();
            var airFlowRatesCombined = new List<string>();

            for (var i = 0; i < airFlowRates.Count; i++)
            {
                if (airFlowRates[i] != null)
                {
                    airFlowRatesCombined.Add(airFlowRates[i]);
                    airFlowLabelsCombined.Add(airFlowLabels[i]);
                }
            }
        }

        @if (airFlowHigh != null)
        {
            <span class="pull-left">Airflow Rate (@string.Join(" / ", airFlowLabelsCombined)) (CFM):</span>
            <span class="pull-left">@string.Join(" / ", airFlowRatesCombined)</span>
        }
        else
        {
            <span class="pull-left">Airflow Rate (CFM):</span>
            <span class="pull-right"></span>
        }



    </div>


    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        <span class="pull-left">Min. Circuit Amps MCA (A):</span>
        <span class="pull-right">
            @specs.GetString("MinCircuitAmps")
        </span>
    </div>
    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        <span class="pull-left">Suction Valve Connection Size (inch):</span>
        <span class="pull-right">@specs.GetString("PipeSizeGas")</span>
    </div>


    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        <span class="pull-left">Max Overcurrent Protection (MOP) (A):</span>
        <span class="pull-right">
            @specs.GetString("MaxOvercurrentProtection")
        </span>
    </div>
    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        <span class="pull-left">Liquid Valve Connection Size (inch):</span>
        <span class="pull-right">@specs.GetString("PipeSizeLiquid")</span>
    </div>


    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        <span class="pull-left">Dimensions (HxWxD) (in):</span>
        <span class="pull-right">@specs.GetString("DimensionsUnitHeight") x @specs.GetString("DimensionsUnitWidth") x @specs.GetString("DimensionsUnitDepth")</span>
    </div>
    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        <span class="pull-left">Condensate Connection (inch):</span>
        <span class="pull-right">@specs.GetString("CondensateDrainOutlet")</span>
    </div>


    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        <span class="pull-left">Net Weight (lb):</span>
        <span class="pull-right">
            @specs.GetString("WeightUnit")
       </span>
    </div>
        <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
            <span class="pull-left">Blower Size Diameter (inch):</span>
            <span class="pull-right">@specs.GetString("DimensionsBlowerDiameter")</span>
        </div>


        <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
            <span class="pull-left">Gross Weight (lb):</span>
            <span class="pull-right">@specs.GetDecimal("WeightShippingUnit", "N0")</span>
        </div>
        <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
            <span class="pull-left">Blower Size Width (inch):</span>
            <span class="pull-right">@specs.GetString("DimensionsBlowerWidth")</span>
        </div>
            }
            else
            {
                <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
                    <span class="pull-left">Dimensions (HxWxD) (in):</span>
                    <span class="pull-right">@specs.GetString("DimensionsUnitHeight") x @specs.GetString("DimensionsUnitWidth") x @specs.GetString("DimensionsUnitDepth")</span>
                </div>
                <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
                    <span class="pull-left">Suction Valve Connection Size  (inch):</span>
                    <span class="pull-right">@specs.GetString("PipeSizeGas")</span>

                </div>


                <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
                    <span class="pull-left">Net Weight (lb):</span>
                    <span class="pull-right">
                        @specs.GetString("WeightUnit")
                    </span>
                </div>
                <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">

                    <span class="pull-left">Liquid Valve Connection Size (inch):</span>
                    <span class="pull-right">@specs.GetString("PipeSizeLiquid")</span>
                </div>


                <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
                    <span class="pull-left">Gross Weight (lb):</span>
                    <span class="pull-right">@specs.GetDecimal("WeightShippingUnit", "N0")</span>
                </div>
                <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
                    <span class="pull-left">Condensate Connection (inch):</span>
                    <span class="pull-right">@specs.GetString("CondensateDrainOutlet")</span>
                </div>

            }
