
@model ProductModel
@{
    var specs = Model.Specifications;
}
<div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
    <span class="pull-left">Indoor Unit Model No.</span>
    <span class="pull-right">@Model.ProductNumber</span>
</div>
<div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
    <span class="pull-left">Indoor Unit Name:</span>
    <span class="pull-right">@Model.Name</span>
</div>


<div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
    <span class="pull-left">Type: </span>
    <span class="pull-right">@specs.GetString("InstallationType")</span>
</div>
<div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
    <span class="pull-left">Rated Cooling Conditions:</span>
    <span class="pull-right">
        Indoor (&deg;F DB/WB): @specs.GetDecimal("RatedCoolingConditionRoomDB", "N0") / @specs.GetDecimal("RatedCoolingConditionRoomWB", "N0")
        <br />
        Ambient (&deg;F DB/WB): @specs.GetDecimal("RatedCoolingConditionAmbientDB", "N0") / @specs.GetDecimal("RatedCoolingConditionAmbientWB", "N0")
    </span>
</div>


<div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
    <span class="pull-left">Rated Cooling Capacity (Btu/hr):</span>
    <span class="pull-right">@specs.GetDecimal("CoolingCapacityRated", "N0")</span>
</div>
<div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
    <span class="pull-left">Rated Heating Conditions:</span>
    <span class="pull-right">
        Indoor (&deg;F DB/WB): @specs.GetDecimal("RatedHeatingConditionRoomDB", "N0") / @specs.GetDecimal("RatedHeatingConditionRoomWB", "N0")
        <br />
        Ambient (&deg;F DB/WB): @specs.GetDecimal("RatedHeatingConditionAmbientDB", "N0") / @specs.GetDecimal("RatedHeatingConditionAmbientWB", "N0")
    </span>
</div>


<div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
    <span class="pull-left">Sensible Capacity (Btu/hr):</span>
    <span class="pull-right">@specs.GetDecimal("CoolingCapacitySensible", "N0")</span>
</div>
<div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
    <span class="pull-left">Rated Piping Length(ft):</span>
    <span class="pull-right">@specs.GetDecimal("RatedPipingLength", "N0")</span>
</div>


<div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
    <span class="pull-left">Cooling Input Power (kW):</span>
    <span class="pull-right">@specs.GetDecimal("CoolingInputPower", "N3")</span>
</div>
<div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
    <span class="pull-left">Rated Height Separation (ft):</span>
    <span class="pull-right">@specs.GetString("RatedHeightDifference")</span>
</div>


@if (specs.GetDecimal("SEERNonDucted", "N2") != null || specs.GetDecimal("SEERDucted", "N2") != null || specs.GetDecimal("HSPFNonDucted", "N1") != null || specs.GetDecimal("HSPFDucted", "N1") != null)
{
    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        <span class="pull-left">SEER (Non-Ducted/Ducted):</span>
        <span class="pull-right">@specs.GetDecimal("SEERNonDucted", "N2") / @specs.GetDecimal("SEERDucted", "N2")</span>
    </div>
    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        @if (specs.GetDecimal("HSPFNonDucted", "N1") != null || specs.GetDecimal("HSPFDucted", "N1") != null)
                {
            <span class="pull-left">HSPF (Non-Ducted/Ducted):</span>
            <span class="pull-right">@specs.GetDecimal("HSPFNonDucted", "N1") / @specs.GetDecimal("HSPFDucted", "N1")</span>
        }
        else
        {
            <span class="pull-left"></span>
            <span class="pull-right"></span>
        }
    </div>
}


@if (specs.GetDecimal("HeatingCapacityRated", "N0") != null || specs.GetDecimal("HeatingCapacityMax", "N2") != null || specs.GetDecimal("HeatingCapacityMin", "N2") != null)
{
    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        <span class="pull-left">Rated Heating Capacity (Btu/hr):</span>
        <span class="pull-right">@specs.GetDecimal("HeatingCapacityRated", "N0")</span>
    </div>
    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        @if (specs.GetDecimal("HeatingCapacityMax", "N2") != null || specs.GetDecimal("HeatingCapacityMin", "N2") != null)
                {
            <span class="pull-left">Max/Min Heating Capacity (Btu/hr/kW):</span>
            <span class="pull-right">@specs.GetDecimal("HeatingCapacityMax", "N2") / @specs.GetDecimal("HeatingCapacityMin", "N2")</span>
        }
        else
        {
            <span class="pull-left"></span>
            <span class="pull-right"></span>
        }
    </div>
}


@if (specs.GetDecimal("HeatingInputPower", "N2") != null || specs.GetDecimal("COP47Nonducted", "N1") != null || specs.GetDecimal("COP47Ducted", "N1") != null)
{
    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        <span class="pull-left">Heating Input Power (kW):</span>
        <span class="pull-right">@specs.GetDecimal("HeatingInputPower", "N2")</span>
    </div>
    <div class="col col-md-6 col-xs-12 row row-nomargin dk-list-row">
        @if (specs.GetDecimal("COP47NonDucted", "N1") != null || specs.GetDecimal("COP47Ducted", "N1") != null)
                {
            <span class="pull-left">Heating COP (Non-Ducted/Ducted):</span>
                <span class="pull-right">@specs.GetDecimal("COP47NonDucted", "N1") / @specs.GetDecimal("COP47Ducted", "N1")</span>
        }
        else
        {
            <span class="pull-left"></span>
                <span class="pull-right"></span>
        }
    </div>
}



