@{
    ViewBag.Title = ResourceUI.ResetYourPassword;
}

@section Page_Styles {
    @Styles.Render("~/Content/css/978", "~/Content/css/passwordforms")
}

<h1>@ViewBag.Title</h1>

<div class="section">
    <div class="row">
        <div class="col1">&nbsp;</div>

        <div class="col11">
            <h5>@ResourceUI.Thanks</h5>
            <p>@ResourceUI.PasswordResetConfirmation,</p>
            <p>@ResourceUI.PasswordResetConfirmationNextStep.</p>
            <input type="button" value="@ResourceUI.SignIn" class="submit-btn" onclick="location.href='@Url.Action("Login")'" />
        </div>

    </div>
    <div class="row-end">&nbsp;</div>
</div>