@model DPO.Common.UserResetPasswordModel
@{
    ViewBag.Title = ResourceUI.ForgotYourPassword;
}

@section Page_Styles {
    @Styles.Render("~/Content/css/978", "~/Content/css/passwordforms")
}

<h1>@ViewBag.Title</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.PageMessages()

       <div class="section form">
             <div class="row">
                <div class="col1">&nbsp;</div>
                <div class="col11">
                    @if(Model.Email == null)
                    {
                         <p>@ResourceUI.PasswordResetInstruction</p>
                    }
                    else
                    {
                         <p>@ResourceUI.PasswordResetRequestInstruction</p>
                    }
                   
                    @Html.LabelFor(m => m.Email, ResourceUI.EmailAddress)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.KeyMessages(m => m.Email)
                    <br/>
                    <input type="button" value="@ResourceUI.Cancel" class="btn" onclick="location.href='@Url.Action("Login")'" />
                    <input type="submit" value="@ResourceUI.Send" class="submit-btn" /> 
                </div>
                <div class="row-end">&nbsp;</div>
            </div>
        </div>

    }