@{
    ViewBag.Title = ResourceUI.PasswordReset;
}

@section Page_Styles {
    @Styles.Render("~/Content/css/978", "~/Content/css/passwordforms", "~/Content/css/tablestyles")
}

<h1>@ViewBag.Title</h1>

<div class="section">
    <div class="row">
        <div class="col1">&nbsp;</div>

        <div class="col11">
            <h5>@ResourceUI.PasswordResetEmailSent</h5>
            <p>@ResourceUI.PasswordResetEmailSentNextStep</p>
            <input type="button" value="@ResourceUI.Ok" class="submit-btn" onclick="location.href='@Url.Action("Index","Home")'" />
        </div>
    </div>
    <div class="row-end">&nbsp;</div>
</div>
