@model DPO.Common.UserResetPasswordModel
@{
    ViewBag.Title = ResourceUI.ResetYourPassword;
}

@section Page_Styles {
    @Styles.Render("~/Content/css/978", "~/Content/css/passwordforms")
}

<h1>@ViewBag.Title</h1>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.PageMessages()
    
    <div class="section">
        <div class="row">
            <div class="col1">&nbsp;</div>

            <div class="col11">
                <h5>@ResourceUI.PasswordChooseNew</h5>
            </div>
        </div>
        <div class="row-end">&nbsp;</div>
        <div class="row">
            <div class="col1">&nbsp;</div>

            <div class="col11">
                    @Html.LabelFor(m => m.NewPassword, ResourceUI.PasswordNew)
                    @Html.PasswordFor(m => m.NewPassword, new { data_indicator = "pwindicator", autocorrect="off", autocapitalize = "off" })
               
                    @Html.KeyMessages(m => m.NewPassword)

                <div id="pwindicator">
                    <div class="bar">
                        <div class="very-weak">&nbsp;</div>
                        <div class="weak">&nbsp;</div>
                        <div class="mediocre">&nbsp;</div>
                        <div class="strong">&nbsp;</div>
                        <div class="very-strong">&nbsp;</div>
                    </div>
                    <div class="label"></div>
                </div>

                    @Html.LabelFor(m => m.ConfirmPassword, ResourceUI.PasswordNewConfirm)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { autocapitalize = "off", autocorrect = "off" })
                    @Html.KeyMessages(m => m.ConfirmPassword)
                <br/>
                <input type="button" value="@ResourceUI.Cancel" class="btn" onclick="location.href='@Url.Action("Login")'" />
                <input type="submit" value="@ResourceUI.Submit" class="submit-btn" />
            </div>
        </div>
        <div class="row-end">&nbsp;</div>
     </div>
}

<script src="~/Scripts/jquery.pwstrength.min.js"></script>
<script>
    $(function () {
        $('#NewPassword').pwstrength(); 
    });
</script>