@model DPO.Common.SendEmailModel
@{
    var model = Model as SendEmailPasswordResetModel;
}
@if (Model.RenderTextVersion)
{
    Layout = null;
    <text>@ResourceUI.PasswordResetValidityTimeExplanation @Url.Action("ResettingPasswordFromSecurityLink", new { SecurityKey = model.SecurityKey }) </text>
}
else
{
    Layout = "~/Views/Shared/EmailTemplate.cshtml";

    <table>
        <tr>
            <td style="padding-left: 28px; padding-top: 20px; font-family: Helvetica, Arial, sans-serif;">@ResourceUI.Hi, @Model.ToName</td>
        </tr>
        <tr>
            <td style="padding-left: 28px; padding-top: 20px; font-family: Helvetica, Arial, sans-serif; ">@ResourceUI.PasswordResetValidityTimeExplanation</td>
        </tr>
        <tr>
            <td style="padding-left: 28px; padding-top: 20px; font-family: Helvetica, Arial, sans-serif; ">
                <table>
                    <tr>
                        <td style="padding: 10px 20px 10px 20px; background-color: #21aee9; border: 1px solid #007FCC; font-weight: bold; line-height: 150%; ">
                            <a href="@Url.Action("ResettingPasswordFromSecurityLink","Account", new { SecurityKey = model.SecurityKey },Request.Url.Scheme)" target="_blank" style="color: #fff; text-decoration:none;">@ResourceUI.ResetYourPassword</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}