@model BuildingFloorEditModel

@{
    ViewBag.Title = "Daikin City Content Management";
    var user = (ViewData["CurrentUser"] as UserSessionModel) ?? new UserSessionModel();
}

@section Page_Styles {
    @Styles.Render("~/Content/css/978", "~/Content/css/tablestyles", "~/Content/css/tabbars", "~/Content/css/adminstyles")
}

@section scripts{
    @Scripts.Render("~/bundles/scripts/tablehelpers", "~/bundles/scripts/confirmmodal")
}

@Html.Partial("_CityCMSTabsPartial")

<ul class="breadcrumbs">
    <li><a href="@Url.Action("ApplicationBuildings", "CityCMS")">Application Buildings</a></li>
    <li><a href="@Url.Action("ApplicationBuildings", "CityCMS")#@Model.buildingName">@Model.buildingName</a></li>

    <li>Edit Floor</li>
</ul>

@Html.PageMessages()

<div class="section t-flush b-flush">
    <div class="item-strap">
        <div class="itemname">
             <h1>@Model.name</h1>
        </div>
        <div class="btn-bar">
            <a style="visibility:hidden;" href="#" class="submit-btn">&nbsp;</a>
        </div>
    </div>
</div>

<ul class="sub-tab-bar">
    <li class="active-tab">
       <a href="configurations_view">Configurations</a>
    </li>

    @if (Model.alternativeConfigurations != null)
    {
    <li>
        <a href="alternative_configurations_view">Alternative Configurations</a>
    </li>
    } 
</ul>


<div class="section form">

    <div id="configurations_view" class="row sub-tab-view">
        @Html.Partial("ApplicationBuildingFloorConfigurations", Model)
        <div class="section action c-align" style="margin-left: 0; margin-right: 0;">
            <button type="button" class="btn" onclick="location.replace('/CityCms/ApplicationBuildings')">Cancel</button>
            <button type="button" class="submit-btn" id="configurations_submit_btn">Save Configurations</button>
        </div>
    </div>

    @if (Model.alternativeConfigurations != null)
    {
        <div id="alternative_configurations_view" class="row sub-tab-view" style="display:none;">
            @Html.Partial("ApplicationBuildingFloorAlternativeConfigurations", Model)
            <div class="section action c-align" style="margin-left: 0; margin-right: 0;">
                <button type="button" class="btn" onclick="location.replace('/CityCms/ApplicationBuildings')">Cancel</button>
                <button type="button" class="submit-btn" id="alt_configurations_submit_btn">Save Alternative Configurations</button>
            </div>
        </div>
    }
</div>
<script>
    $(function ()
    {
        var subTabs = $('.sub-tab-bar li');
        var subViews = $('.sub-tab-view');

        subTabs.click(function (e) {

            e.preventDefault();

            subViews.hide();
            subTabs.removeClass('active-tab');

            var viewToShow = $(this).find('a').attr('href');
            $('#' + viewToShow).show();

            $(this).addClass('active-tab');
        });

        $('#configurations_submit_btn').on('click', function () { $('#ConfigurationsForm').submit(); });
        $('#alt_configurations_submit_btn').on('click', function () { $('#AlternativeConfigurationsForm').submit(); });
    });
</script>




