@using DPO.Common;
@model ProductFamiliesModel

@section Page_Styles {
    @Styles.Render("~/Content/css/978", "~/Content/css/tabbars", "~/Content/css/adminstyles")
}

@section scripts{
}

@{
    ViewBag.title = ResourceUI.ProductFamilies;
    ViewBag.searchBarPlaceholderText = ResourceUI.Products;
}

@Html.Partial("_CityCMSTabsPartial")

<div class="section t-flush">
    <div class="item-strap btm-bdr">
        <div class="itemname">
            <h1>Edit Product Family Images</h1>
        </div>
        <div class="btn-bar">
            <a class="btn submit" href="#" style="visibility : hidden;"><img src="/Images/context-btn-edit-icon.png">&nbsp;</a>
        </div>
    </div>
</div>
@Html.PageMessages()

<div class="section t-flush">
    <i style="font-size: 0.9em;">Please note: images must be a PNG file with 190px x 200px dimensions</i>
</div>

<div class="section form">

    <ul>
        @foreach (var item in Model.Items)
        {
            <li style="float:left; padding: 20px 20px 10px 20px; margin: 10px; border: 1px solid #EAEBED; background-color: #fff;">
                    <img src="@Url.RouteUrl("image",new { Type = (int)ImageTypeEnum.ProductFamily , Id = item.Id })" onerror="this.onerror = null; this.src = '/Images/product-family-noimage.png'" style="height: 200px; width: 190px;" />
                  
                    <div style="padding-top: 1em;">
                        <h4 style="font-size: 1.4em; margin-bottom: 0.5em; padding-bottom: 0;">@item.Name</h4>
                        @using (Html.BeginForm("ProductFamilyImageEdit", "CityCMS", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(m => item.Id);
                            <input type="file" name="productFamilyImage" style="width: 190px; max-width: 190px; margin-bottom: 0.5em;" />
                            <br/>
                            <input type="submit" value="Upload new image" class="context-btn submit" style="width: 100%;" disabled/>
                        }
                    </div>
            </li>

        }
    </ul>
    <div class="row-end">&nbsp;</div>
</div>

 

<script>
    $(function () {
        $('input[type="file"]').on('change', function () {
            var $fileInput = $(this);
            var $fileInputUploadButton = $fileInput.parent().find('input[type="submit"]');

            ($fileInput.val()) ? $fileInputUploadButton.removeAttr('disabled') : $fileInputUploadButton.attr('disabled', true);
        });
    });
</script>

