@model CityCMSSystemsModel
@{
    ViewBag.Title = "Daikin City Content Management";
    var user = (ViewData["CurrentUser"] as UserSessionModel) ?? new UserSessionModel();
}

@section Page_Styles {
    @Styles.Render("~/Content/css/978", "~/Content/css/tablestyles", "~/Content/css/tabbars", "~/Content/css/adminstyles")
}

@section scripts{
    @Scripts.Render("~/bundles/scripts/tablehelpers", "~/bundles/scripts/confirmmodal")
}

@Html.Partial("_CityCMSTabsPartial")

<ul class="breadcrumbs">
    <li><a href="@Url.Action("Index","CityCMS")">Content Management</a></li>
    <li>Systems</li>
</ul>


<div class="section b-flush t-flush">
    <div class="item-strap btm-bdr">
        <div class="itemname">
            <h1>Systems</h1>
        </div>
        <div class="btn-bar">
            &nbsp;
        </div>
    </div>
</div>

<div class="section">
    <div class="tbl-holder scroll-x">
        <table class="tbl">
            <thead>
                <tr>
                    <th class="actions" style="min-width: 43px;">&nbsp;</th>
                    <th>id</th>
                    <th>name</th>
                    <th>description</th>
                    <th>image</th>
                    <th>icon</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.system)
                {
                   <tr>
                       <td class="actions">
                           <div>
                               <ul>
                                   <li>
                                       <a href="@Url.Action("SystemEdit","CityCMS")">Edit System</a>
                                   </li>
                               </ul>
                           </div>
                       </td>
                       <td>@item.id</td>
                       <td>@item.name</td>
                       <td>@item.description</td>
                       <td>@item.image</td>
                       <td>@item.icon</td>
                   </tr>
                }
            </tbody>
        </table>
    </div>

   
</div>

