@model List<ToolModel>
@{
    ViewBag.Title = ResourceUI.Tools;
}
@section Page_Styles {
    @Styles.Render("~/Content/css/978", "~/Content/css/tablestyles", "~/Content/css/tabbars", "~/Content/css/adminstyles")
}
@section scripts{
    @Scripts.Render("~/bundles/scripts/tablehelpers", "~/bundles/scripts/confirmmodal")
}
@Html.Partial("_CityCMSTabsPartial")

<div class="section t-flush b-flush">
    <div class="item-strap">
        <div class="itemname">
            <h1>Edit @ResourceUI.Tools</h1>
            <p></p>
        </div>
        <div class="btn-bar">
            <a href="@Url.Action("ToolEdit")" class="btn submit-btn">Add New Tool</a>
        </div>
    </div>
</div>
@Html.PageMessages()
@if (Model.Count == 0)
{
    <div class="section form" style="padding-bottom: 0;">
        <p style="margin-top: 8px;">
            There are currently no tools.
            <br /><br />
        </p>
    </div>
}
else
{
    <div class="section form">
        @*<h4>Available Tools</h4>*@
        <div class="tbl-holder scroll-x" style="padding-top: 0;">
            <table class="tbl" style="background-color: #fff; table-layout: fixed;">
                <thead>
                    <tr>
                        <th class="actions">&nbsp;</th>
                        <th style="width: 300px;">Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                @foreach (var tool in Model)
                {
                    <tr>
                        <td class="actions">
                            <div>
                                <ul>
                                    <li>
                                        <a href="@Url.Action("ToolEdit", new { toolId = tool.ToolId })">Edit Tool</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ToolDelete", new { toolId = tool.ToolId })">Delete Tool</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>@tool.Name</td>
                        @*@if(tool.Name.Contains("VRV"))
                        {
                            <td style="overflow: hidden; text-overflow: ellipsis;">
                                @Html.Raw(tool.Description)
                            </td>
                        }
                        else
                        { 
                           <td style="overflow: hidden; text-overflow: ellipsis;">@tool.Description</td>
                        }*@

                        <td style="overflow: hidden; text-overflow: ellipsis;">
                            @Html.Raw(tool.Description)
                        </td>

                    </tr>
                }
            </table>
        </div>
    </div>
}

